---
- import_tasks: add_user.yml
  tags: tomcat_user

- import_tasks: java_install.yml
  tags: java_install

- import_tasks: tomcat_install.yml
  tags: tomcat_install

- import_tasks: manager_app.yml
  tags: manager_app

- import_tasks: jdbc.yml
  tags: jdbc_install

#- import_tasks: logrotate.yml
#  tags: logrotate_catalina
