# Systemd unit file for tomcat
# Created by ansible
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment=CATALINA_PID=/opt/{{ tomcat_name }}/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/{{ tomcat_name }}
Environment=CATALINA_BASE=/opt/{{ tomcat_name }}
ExecStart=/opt/{{ tomcat_name }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
ExecReload=/usr/bin/kill -s HUP $MAINPID
RemainAfterExit=yes

User={{ tomcat_user }}
Group={{ tomcat_user }}

[Install]
WantedBy=multi-user.target
