# Systemd unit file for tomcat
# Created by ansible
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment=CATALINA_PID={{ root_dir }}/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME={{ root_dir }}/tomcat
Environment=CATALINA_BASE={{ root_dir }}/tomcat
ExecStart={{ root_dir }}/tomcat/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
ExecReload=/usr/bin/kill -s HUP $MAINPID
RemainAfterExit=yes

User={{ tomcat_user }}
Group={{ tomcat_user }}

[Install]
WantedBy=multi-user.target
